body{
    background-color: #121111;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5%;
    margin-left: 20px;
    font-size: 1.5rem;
}
.container{
    height: 850px;
    margin: 70px auto;
    width: 500px;
    border-radius: 23px;
    background: #0d0d0d;
    box-shadow:  -5px 5px 10px #050505,
                5px -5px 10px #151515;
    display: flex;
    flex-direction: column;
}
.result-container {
    margin-top: 90px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 40px;
    width: 95%;
    height: 160px;
    border-radius: 23px;
    background: #0d0d0d;
    box-shadow: inset -7px 7px 14px #050505,
                inset 7px -7px 14px #151515;
    display: grid;
    justify-items: center;
    justify-content: center;
} 

input[type="text"]{
    border: none;
    width: 440px;
    height: 135px;
    margin-top: 10px;
    background-color: transparent;
    color: aqua;
    font-weight: bold;
    font-size: 2rem;
}
.buttons{
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 95%;
    height: 540px;
    background-color: transparent !important;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr) 20%; 
}
.buttons .btn{
    margin: 3px auto;
    text-align:center;
    height: 70px;
    width: 70px;
    border: none;
    color: aqua;
    font-weight: bold;
    font-size: 2.3rem;
    border-radius: 17px;
    background: linear-gradient(225deg, #0e0e0e, #0c0c0c);
    box-shadow:  -5px 5px 5px #050505,
                5px -5px 5px #151515;
}

.delete-btn{
    margin: 3px auto;
    text-align:center;
    height: 70px;
    width: 70px;
    border: none;
    color: aqua;
    font-weight: bold;
    font-size: 1.7rem;
    border-radius: 17px;
    background: linear-gradient(225deg, #0e0e0e, #0c0c0c);
    box-shadow:  -5px 5px 5px #050505,
                5px -5px 5px #151515;
}

.zero-equal{
    width: 550px;
    background-color: transparent ;
    position: absolute;
    top: 85%;
    align-items: center;
    justify-content: center;
    
}
.zero{
    margin-right: 25px;
    margin-left: 20px;
    height: 70px;
    width: 190px;
    border: none;
    color: aqua;
    font-weight: bold;
    font-size: 2.3rem;
    border-radius: 17px;
    background: linear-gradient(225deg, #0e0e0e, #0c0c0c);
    box-shadow:  -5px 5px 5px #050505,
                5px -5px 5px #151515;
}

.equal{
    margin-left: 25px;
    height: 70px;
    width: 190px;
    border: none;
    color: aqua;
    font-weight: bold;
    font-size: 2.3rem;
    border-radius: 17px;
    background: linear-gradient(225deg, #0e0e0e, #0c0c0c);
    box-shadow:  -5px 5px 5px #050505,
                5px -5px 5px #151515;
}

.buttons button:hover{
    color: black;

    cursor: pointer;
    border-radius: 17px;
background: #23cbe1;
box-shadow: inset 5px -5px 8px #0e515a,
            inset -5px 5px 8px #38ffff;
}

.buttons .delete-btn:active{
    width: 65px;
    height: 65px;
    font-size: 2.2rem;
}
.buttons .btn:active{
    font-size: 2.2rem;
    width: 65px;
    height: 65px;
}


.buttons .equal:active{
    font-size: 2.2rem;
    width: 187px;
    height: 67px;
}


